body {
	background: #FDFAF2;
	overflow-x: hidden;
}

.bar {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	padding: 25px 0;
	background: linear-gradient(96.72deg, rgba(255, 197, 82, 0.65) 10.43%, rgba(163, 168, 29, 0.65) 74.11%);
}

.bar-content {
	min-width: max-content;
	margin-right: 50px;
	color: black;
	font-family: 'Baskerville';
	font-style: italic;
	font-weight: 400;
	font-size: 40px;
	line-height: 41px;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
}

.bar-content>* {
	display: inline-block;
	margin-right: 50px;
	/* Add the animation */
	animation: move 15s infinite linear;
	/* infinite make reapeat the animation indefinitely */
}

/* Create the animation */
@keyframes move {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-2160px);
	}
}

#small_text {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 23px;
	align-items: center;
	text-align: center;
	color: #303030;
}

hr.solid {
	flex: 1;
	position: absolute;
	left: 0;
	right: 0;
	top: 90%;
	border: 0.75px solid rgba(0, 0, 0, 0.8);
}

hr.semi-solid {
	width: 650px;
	height: 0px;
	align-items: center;
	border: 0.75px solid rgba(0, 0, 0, 0.6);
}

hr#line1 {
	top: 24vh;
}

hr#line2 {
	top: 32vh;
}

hr#line3 {
	top: 10vh;
}

.content {
	margin-top: 0;
	/* top: 255px; */
	align-items: center;
}

#landing {
	margin-top: 10vh;
}

#social-media {
	margin-top: 0;
}

#quote {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
}

h1 {
	width: 1000px;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	font-family: 'Lora';
	font-style: normal;
	font-weight: 600;
	font-size: 80px;
	line-height: 128%;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

h2 {
	font-family: 'Baskerville';
	font-style: italic;
	font-weight: 550;
	font-size: 48px;
	line-height: 155%;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	color: #000000;
}

h3 {
	width: 600px;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 148%;
	align-items: center;
	text-align: center;
	color: #000000;
}

h4 {
	width: 600px;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 128%;
	align-items: center;
	text-align: center;
	color: #000000;
}

h5 {
	width: max-content;
	padding: 0;
	margin-left: 50%;
	margin-top: 5vh;
	margin-bottom: 0;
	transform: translate(-50%, 0%);
	font-family: 'Caladea';
	font-style: italic;
	font-weight: 400;
	font-size: 80px;
	line-height: 130%;
	text-align: center;
	text-transform: capitalize;
	color: #000000;
}

.tittle {
	width: max-content;
	padding-bottom: 10vh;
	font-family: 'Caladea';
	font-style: italic;
	font-weight: 400;
	font-size: 80px;
	line-height: 130%;
	text-align: center;
	text-transform: capitalize;
	color: #000000;
}

h6 {
	width: max-content;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	margin-top: 50px;
	margin-bottom: 0;
	font-family: 'Baskerville';
	font-style: italic;
	font-weight: 600;
	font-size: 48px;
	line-height: 150%;
	/* or 74px */
	text-align: center;
	text-transform: capitalize;
	color: #000000;
}

.orange-header {
	color: #E29600;
	border-bottom: 1px solid #E29600;
	padding-bottom: 2px;
}

.green-header {
	color: #8A8F00;
	border-bottom: 1px solid #8A8F00;
	padding-bottom: 2px;
}

p {
	width: 1000px;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 170%;
	/* or 48px */
	text-align: justify;
	color: #000000;
}

p #span {
	display: block;
	margin-bottom: 1vh;
}

p+p {
	text-indent: 2em;
}

.legend{
	width: 360px;
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 142%;
	color: #000000;
	margin-bottom: 10px;
}

.source{
	width: 570px;
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	text-transform: capitalize;
	color: #000000;
}

#bottom-source{
	transform: translate(-30px,850px);
}

#plate-source{
	margin-left: 2000px;
}

.subTitle{
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	/* or 34px */
	align-items: center;
	padding-right: 10px;
	text-transform: capitalize;
	color: #000000;
}

.small-quote {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 165%;
	/* or 46px */
	text-align: center;
	color: #000000;
}

.header_img {
	width: 2450px;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	height: auto;
	top: 600px;
	bottom: 0%;
}

#quote3{
	margin-top: 100px;
	width: 100vw;
}

#quote3-text{
	height: 20vh;;
	margin-top: 40vh;
	margin-bottom: 40vh;
}

.healthy-food {
	width: 2500px;
	margin-top: 5vh;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	height: auto;
	bottom: 0%;
}

#quote2-legend{
	margin-left: 45%;
	margin-top: 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 150%;
	text-transform: capitalize;
	color: #000000;

}

.pixels-graph{
	background-image: url("assets/health-food.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 20px;
	margin-left: 50%;
	transform: translate(-50%, 0%);
}

.pixel{
	height: 20px;
	width: 20px;
	transform: translate(0px, 3px);
	margin-top: 1px;
	background-color: white;
	border: 1px solid black;
	display: inline-block
}

.graph1 {
	margin-left: 50%;
	transform: translate(-50%, 0%);
	padding: 4vh;
	bottom: 0%;
}

.arc{
	box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
	transform: translate(0, -2px);
}

#plate-graph.content{
	width: 100vw;
	margin-top: 5vh;
	margin-bottom: 10vh;
}

#plate-container{
	width: 100vw;
}

.graphs-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.legend-container{
	display: flex;
	margin-left: 50px;
	flex-wrap: wrap;
	height: 1000px;
	align-content: space-between;
}

#legend-maintext{
	margin-top: 400px;
}

.green-dot{
	height: 20px;
	width: 20px;
	background-color: #8A8F00;
	border-radius: 50%;
	display: inline-block
}

#single-graph-header{
	text-align: center;
	margin-bottom: 2vh;
}

#single-graph{
	width: 100%;
	background-image: url("assets/plate.png");
	background-repeat: no-repeat;
	background-position: 50%;
}

.graph-tittle{
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 165%;
	/* or 46px */
	text-align: center;
	text-transform: capitalize;
	color: #000000;
}

#dataPoint{
	position: absolute;
	margin-top: 300px;
	width: 430px;
	left: 70vw;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 142%;
	color: #000000;
}

.stats{
	font-family: 'Caladea';
	font-style: italic;
	font-weight: 400;
	font-size: 80px;
	line-height: 120%;
	text-transform: capitalize;
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
    text-underline-offset: 20px;
}

#world-graph {
	margin-left: 0 !important;
}

#world-legend{
	display: flex;
	width: max-content;
	margin-bottom: 30px;
	align-content: center;
	margin-left: 50%;
	transform: translate(-50%,0);
}

.item{
	margin: 0 15px;
	width: max-content;
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 142%;
	color: #000000;
}

#hover{
	vertical-align: top;
}

#normal-circle{
	height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
	border: 1px solid black;
    display: inline-block;
	vertical-align: top;
}

#orange-circle{
	height: 30px;
    width: 30px;
    background-color: #F3D69D;
    border-radius: 50%;
	border: 4px solid #E5B24D;
    display: inline-block;
	vertical-align: top;
}

#dashed-circle{
	height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
	border: 1px dashed black;
    display: inline-block;
	vertical-align: top;
}


.tooltip {
	position: absolute;
	width: 350px;
	padding: 22px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid black;
	color: #000000;
	visibility: hidden;
	font-family: 'Roboto';
	font-size: 26px;
	text-transform: capitalize;
	font-weight: 300;
}

#world-country{
	font-family: 'Roboto';
	font-size: 34px;
	text-transform: capitalize;
	line-height: 128%;
	font-weight: 400;
}

.num {
	text-align: left;
	margin-top: 30px;
	padding-top: 5rem;
	background: transparent;
	font-family: 'Caladea';
	font-style: italic;
	font-weight: 400;
	font-size: 64px;
	line-height: 120%;
	text-transform: capitalize;
	color: #000000;
}

.tool{
	background: transparent;
}
#dropdown{
	margin-bottom: 3vh;
	transform: translate(41.5%, 0%);
}

#selectButton {
	box-sizing: border-box;
	width: 300px;
	height: 60px;
	background: linear-gradient(180deg, rgba(186, 186, 186, 0) -65.38%, #F8F8F8 75.24%);
	border: 1px solid #000000;
	border-radius: 10px;
	text-indent: 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 128%;
	align-items: center;
	text-transform: uppercase;
	color: #000000;
}

