body{
    background-color: beige;
}
.spacer{
    height:0%;
}

#grid-container2 {
    opacity: 0;
    align-items: center;
    -webkit-transition: all 1s fadeInOut;
         -moz-transition: all 1s fadeInOut;
            -ms-transition: all 1s fadeInOut;
             -o-transition: all 1s fadeInOut;
                    transition: all 1s fadeInOut;
}
#grid-container2.visible {
    opacity: 1;
    position: sticky;
    top:0px;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

#grid-container3 {
    opacity: 0;
    align-items: center;
    /* -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out; */
}
#grid-container3.visible {
    opacity: 1;
    position: sticky;
    top:0px;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

.grid-container-sticky{
    position: sticky;
    top:0px;
}
